* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::after,
*::before {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.code_wrapper {
    flex: 1;
    height: 50%;
    background-color: #2e2e2e;
    font-size: 16px;
}

.preview_wrapper {
    flex: 1;
    height: 50%;
}

#code {
    overflow: hidden;
    height: 100%;
}

.actions {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}

.actions>button {
    margin: 10px;
    background: #ddd;
    padding: 8px 10px;
    border: none;
    border-radius: 10%;
}

.actions>button.active {
    box-shadow: 1px 1px 1px rgba(80, 36, 36, 0.8);
    border-radius: 30%;
}

.actions>button:focus {
    outline: none;
}